<div class="container">
  <h1 class="m-3">Category List</h1>

  <div class="d-flex justify-content-end mt-3">
      <a [routerLink]="['/category/add']" class="btn btn-primary">Add Category</a>
  </div>

  <!-- by using async pipes -->
   <ng-container *ngIf="categories$ | async as categories">
      <table class="table table-bordered mt-3">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Name</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let category of categories">
                  <td>{{category.id}}</td>
                  <td>{{category.name}}</td>
                  <div class="btn-group btn-group-justified">
                      <!-- <td [routerLink]="['/admin/categories/edit',category.id]" class="btn btn-primary">Edit</td>
                      <td class="btn btn-danger">Delete</td> -->
                      <a class="btn btn-light" [routerLink]="['/categories',category.id]">Edit</a>
                  </div>
              </tr>
          </tbody>
      </table>
  </ng-container>


</div>
